@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000;
  --accent-color: #e60012;
  --text-main: #fff;
  --text-secondary: #aaa;
  --panel-dark: #111;
  --panel-charcoal: #1a1a1a;
  --panel-gray: #222;
  --transition: 0.3s;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
  
  a {
    @apply text-inherit no-underline;
  }
  
  button {
    @apply cursor-pointer border-none;
  }
}
